form {
    width: 300px;
    margin: auto; /* Center horizontally */
    margin-top: 100px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    width: calc(100% - 16px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  